{% extends "layout.html" %}

{% block main %}

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Event</th>
            <th class="text-center">Start Time</th>
            <th class="text-center">End Time</th>
            <th class="text-center">Day</th>
            <th class="text-center">Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for detail in details %}
            <tr>
                <td class="text-center">{{ detail.event }}</td>
                <td class="text-center">{{ detail.start }}</td>
                <td class="text-center">{{ detail.end }}</td>
                <td class="text-center">{{ detail.weekday}}</td>
                <td class="text-center">{{ detail.duration}}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}