{% extends "layout.html" %}

{% block main %}

    <div class="header">
        <h1>Time management</h1>
    </div>

    <div class="mb-3">
        <h2>Add an Event</h2>
        <form action="/" method="POST">
            <div class="mb-3"></div>
                <select class="form-select mx-auto w-auto" name="event" required>
                    <option disabled selected value="">Activity</option>
                        <option>Work</option>
                        <option>Learn</option>
                        <option>Exercise</option>
                        <option>Nap</option>
                        <option>Read</option>
                        <option>Game</option>
                        <option>Eat</option>
                        <option>Commute</option>
                </select>
            </div>
            <div class="mb-3">
                Start From <input name="start_time", placeholder="start from" type="time" min="00:00" max="23:59" required>
            </div>
            <div class="mb-3">
                End time <input name="end_time", placeholder="end time" type="time" min="00:00" max="23:59" required>
            </div>

            <div class="mb-3">
                <select class="form-select mx-auto w-auto" name="day" required>
                    <option disabled selected value="">Day</option>
                        <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>
                        <option>Saturday</option>
                        <option>Sunday</option>
                </select>
            </div>

            <div class="mb-3">
                <input type="submit" name="add" value="Add Event"></button>
            </div>
            <div class="mb-3">
                <input type="submit" name="drop" value="Drop Event"></button>
            </div>
        </form>
    </div>

{% endblock %}